# --- Compiled Output ---
/dist/
/tmp/
/out-tsc/
/bazel-out/
/coverage/

# --- Dependency Directories ---
node_modules/
/.angular/
.angular/cache

# --- Environment & Secrets ---
.env
.env.local

# --- IDEs and Editors ---
.idea/
.project
.classpath
.settings/
*.launch
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/libpeerconnection.log

# --- System Files ---
.DS_Store
Thumbs.db